<script type="text/javascript">
  window.item = <%= Oj.dump(@item_prototype.as_json(collaborators: true)).html_safe %>;
</script>
<div ng-controller="ItemFormCtrl" ng-init="init()">
  <%= form_for [@rule_set, @item_prototype] do |f| %>
    <%= render 'shared/error_messages', model: @item_prototype %>

    <%= f.label :type %>
    <%= f.select :type, 
        options_for_select(
          ItemPrototype.types.keys.collect do |type| 
            [t("activerecord.attributes.item_prototype.types.#{type}"), type] 
          end, 
          selected: @item_prototype.type), 
        {}, 
        class: 'selectpicker form-control', selectpicker: '',
        'ng-required' => 'true',
        'ng-model' => 'item.type' %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', 
      'placeholder' => 'z.B. "Hammer des Grausamen Totschlags"',
      'ng-required' => 'true',
      'ng-model' => 'item.name' %>

    <%= f.label :desc %>
    <%= f.text_field :desc, class: 'form-control', 
      'placeholder' => 'Effekte, Besonderheiten, Generelles ...',
      'ng-model' => 'item.desc' %>

    <%= f.label :category %>
    <%= f.text_field :category, class: 'form-control',
      'placeholder' => 'z.B. "2H-Schwerter"',
      'ng-model' => 'item.category' %>

    <%= f.label :value %>
    <%= f.text_field :value, class: 'form-control', 
      'placeholder' => 'Wert in Gold',
      'ng-pattern' => '/^[+\-]?\d+(\.(\d+)*)?$/',
      'ng-model' => 'item.value' %>

    <%= f.label :weight %>
    <%= f.text_field :weight, class: 'form-control', 
      'placeholder' => 'Gewicht für 1 Item',
      'ng-pattern' => '/^[+\-]?\d+(\.(\d+)*)?$/',
      'ng-required' => 'true',
      'ng-model' => 'item.weight' %>

    <%= f.label :image %>
    <% if @item_prototype.image.exists? %>
      <%= image_tag @item_prototype.image.url(:small) %>
    <% end %>
    <%= f.file_field :image, class: 'form-control' %>

    <div ng-if="isWeapon(item.type)">
      <%= f.label :damage %>
      <%= f.text_field :damage, class: 'form-control',
        placeholder: 'z.B. "2+3w6"' %>

      <%= f.label :speed %>
      <%= f.text_field :speed, class: 'form-control',
        placeholder: 'z.B. 1.5' %>

      <%= f.label :range %>
      <%= f.text_field :range, class: 'form-control',
                       'ng-pattern' => '/^[+\-]?\d+(\.(\d+)*)?$/',
                       placeholder: 'Reichweite in ft',
                       'ng-model' => 'item.range' %>

      <%= f.label :two_handed, class: 'checkbox inline' do %>
        <%= f.check_box :two_handed %>
        <span>Zweihändig?</span>
      <% end %>
    </div>
    <div ng-show="item.type == 'armor'">
      <%= f.label :armor %>
      <%= f.text_field :armor, class: 'form-control',
          'ng-pattern' => '/^[+\-]?\d+(\.(\d+)*)?$/',
          placeholder: 'Rüstungswert',
          'ng-model' => 'item.armor' %>

      <%= f.select :armor_type,
                   options_for_select(
                       ItemPrototype.armor_types.keys.collect do |type|
                         [t("activerecord.attributes.item_prototype.armor_types.#{type}"), type]
                       end,
                       selected: @item_prototype.armor_type),
                   {},
                   class: 'selectpicker form-control', selectpicker: '',
                   'ng-model' => 'item.armor_type' %>

      <%= f.label :clumsiness %>
      <%= f.text_field :clumsiness, class: 'form-control',
                       'ng-pattern' => '/^[+\-]?\d+(\.(\d+)*)?$/',
                       placeholder: 'Klobigkeit',
                       'ng-model' => 'item.clumsiness' %>
    </div> 
    <div ng-class="{hidden: !isWearable(item.type)}">
      <%= f.label :slot %>
      <%= f.select :slot,
              options_for_select(
                ItemPrototype.slots.keys.collect do |slot| 
                  [t("activerecord.attributes.item_prototype.slots.#{slot}"), slot] 
                end, 
                selected: (@item_prototype.slot || 'head')),
              {},
              class: 'selectpicker form-control', selectpicker: '' %>
    </div>
    <%= f.submit "Speichern", class: 'btn' %>
    <% unless @item_prototype.new_record? %>
      <%= link_to 'Löschen', rule_set_item_prototype_path(@rule_set, @item_prototype), class: 'btn', method: 'delete' %>
    <% end %>
  <% end %>
</div>
