<div class="char-equip-slot-container" ng-class="slot.identifier">
  <div ng-if="!weapon">
    <%# Armor slot %>
    <div class="char-equip-slot" title="{{ slot.name }}" ng-class="slot.item ? '' : slot.key"
         ng-click="toggleMenu()">
      <div class="char-equip-slot-content">
        <span ng-if="!slot.item.image" class="equipped-item-name" title="{{ slot.item.name }}">{{ slot.item.name }}</span>
        <img ng-if="slot.item.image" ng-src="{{ slot.item.image }}" title="{{ slot.item.name }}" />
        <br />
        <%= prop_tag 'armor.png', 'slot.item.armor', alt: 'Rüstung' %>
      </div>
    </div>
    <ul class="char-equip-slot-dropdown" ng-show="showMenu">
      <li>
        <a ng-click="itemSelected(null)">-- Leer --</a>
      </li>
      <li ng-repeat="item in items[slot.key] | filter:{type:'!weapon'}">
        <a ng-click="itemSelected(item)">{{ item.name }}</a>
      </li>
    </ul>
  </div>
  <div ng-if="weapon">
    <%# Weapon slot %>
    <div class="char-weapon-slot" title="{{ slot.name }}"
         ng-click="toggleMenu()">
      <h4 class="inline char-weapon-slot-label">{{ slot.name }}</h4>
      <div class="char-weapon-data">
        <div class="padded">
          <img ng-if="slot.item.image" ng-src="{{ slot.item.image }}" title="{{ slot.item.name }}" />
          <h4 class="inline">{{ slot.item.name }}</h4>
        </div>
        <div class="weapon-properties" ng-click="$event.stopPropagation()">
          <div class="column-container clearfix padded">
            <div class="column-50">
              <%= character_property_minimal 'damage.png', 'slot.item.damage', alt: 'Schaden' %>
              <%= character_property_minimal 'condition.png', 'slot.item.condition', alt: 'Zustand', unit: '%',
                                             editable: true, on_confirm: 'updateItem(slot.item)' %>
              <%= character_property_minimal 'arrow.png', 'slot.item.arrow_dmg', alt: 'Pfeilschaden',
                                             editable: true, on_confirm: 'updateItem(slot.item)' %>
            </div>
            <div class="column-50">
              <%= character_property_minimal 'range.png', 'slot.item.range', alt: 'Reichweite' %>
              <%= character_property_minimal 'speed.png', 'slot.item.speed', alt: 'Geschwindigkeit' %>
            </div>
          </div>
          <div ng-if="slot.item">
            <div ng-if="slot.identifier == 'left_hand'">
              <%= character_property 'dice.png', 'W6-Schaden', 'char.rolled_damage_left',
                                     small: true, embedded: true, editable: true %>
            </div>
            <div ng-if="slot.identifier == 'right_hand'">
              <%= character_property 'dice.png', 'W6-Schaden', 'char.rolled_damage_right',
                                     small: true, embedded: true, editable: true %>
            </div>
            <div ng-if="slot.identifier == 'left_hand'">
              <%= character_property 'damage.png', 'Eff. Schaden', 'char.left_weapon_damage',
                                     small: true, embedded: true %>
            </div>
            <div ng-if="slot.identifier == 'right_hand'">
              <%= character_property 'damage.png', 'Eff. Schaden', 'char.right_weapon_damage',
                  small: true, embedded: true %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="char-equip-slot-dropdown" ng-show="showMenu">
      <li>
        <a ng-click="itemSelected(null)">-- Leer --</a>
      </li>
      <li ng-repeat="item in items[slot.key] | filter:{type:'weapon'}">
        <a ng-click="itemSelected(item)">{{ item.name }}</a>
      </li>
    </ul>
  </div>
</div>