<%= form_for [@rule_set, @property] do |f| %>
  <%= render 'shared/error_messages', model: @property %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'z.B. Stärke', class: 'form-control' %>

  <%= f.label :abbr %>
  <span class="help">Eindeutiges Kürzel für das Attribut. Nur Kleinbuchstaben und Unterstrich ([a-z_])</span>
  <%= f.text_field :abbr, placeholder: 'z.B. str', class: 'form-control' %>

  <%= f.label :default_value %>
  <span class="help">Der Standartwert für dieses Attribut für neue Charaktere. Zieht Rassen, Spezialisierungen und Sternzeichen nicht ins Kalkül.</span>
  <%= f.text_field :default_value, placeholder: 'bisher immer 40', class: 'form-control' %>

  <%= f.label :color %>
  <%= f.color_field :color, class: 'form-control' %>
  
  <%= render 'shared/property_form', f: f %>
<% end %>
