<%= form_for [@rule_set, @specialization] do |f| %>
  <%= render 'shared/error_messages', model: @specialization %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :image %>
  <% if @specialization.image.exists? %>
    <%= image_tag @specialization.image.url(:thumb) %>
  <% end %>
  <%= f.file_field :image, class: 'form-control' %>

  <%= f.label :avatar %>
  <% if @specialization.avatar.exists? %>
    <%= image_tag @specialization.avatar.url(:small) %>
  <% end %>
  <%= f.file_field :avatar, class: 'form-control' %>

  <div class="actions">
    <%= link_to "Zurück", rule_set_specializations_path(@rule_set), class: 'btn' %>
    <%= f.submit "Speichern", class: 'btn' %>
    <% unless @specialization.new_record? %>
      <%= link_to 'Löschen', rule_set_specialization_path(@rule_set, @specialization),
        method: :delete, 
        data: { confirm: "Willst du wirklich die Spezialisierung #{@specialization.name} löschen?" },
        class: 'btn' %>
    <% end %>
  </div>
<% end %>
