<div class="minitile">
  <%= link_to target, class: 'minitile__main' do %>
    <% if image %>
      <%= image_tag image %>
    <% end %>
    <h3><%= name %></h3>
  <% end %>
  <div class="flex-row">
    <% if defined?(pdf) && pdf %>
      <%= link_to 'PDF', export_character_path(target), class: 'btn' %>
    <% end %>
    <% if delete %>
      <%= link_to "Löschen", target, method: :delete, class: 'btn',
                  data: { confirm: "Bist du dir ganz sicher, dass du #{name} löschen möchtest?" } %>
    <% end %>
  </div>
</div>
