<%= form_for [@rule_set, @birthsign], name: 'birthsignForm' do |f| %>
  <%= render 'shared/error_messages', model: @birthsign %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :image %>
  <% if @birthsign.image.exists? %>
    <%= image_tag @birthsign.image.url(:small) %>
  <% end %>
  <%= f.file_field :image, class: 'form-control' %>

  <script type="text/javascript">
    window.birthsign = <%= @birthsign.to_json(mode: :details,
      include: { property_modifiers: {}, abilities: { include: :property_modifiers }},
            collaborators: true).html_safe %>;
  </script>
  <div ng-controller="BirthsignFormController" ng-init="init()">
    <h2>Passive Eigenschaften</h2>
    <property-modifier-config 
        mods="birthsign.property_modifiers"
        prop-url="'<%= properties_rule_set_path(@rule_set, format: :json) %>'"
        name-start="birthsign[property_modifiers_attributes"
        name-end="]"
        new-text="Neue Eigenschaft"
        delete-text="Löschen">
    </property-modifier-config>

    <h2>Aktive Fähigkeiten</h2>
    <ability-config abilities="birthsign.abilities"
        prop-url="'<%= properties_rule_set_path(@rule_set, format: :json) %>'"
        name-start="birthsign[abilities_attributes"
        name-end="]"
        new-text="Neue Fähigkeit"
        delete-text="Fähigkeit löschen">
    </ability-config>
  </div>

  <div class="actions">
    <%= link_to "Zurück", rule_set_birthsigns_path(@rule_set), class: 'btn' %>
    <%= f.submit "Speichern", class: 'btn' %>
    <% unless @birthsign.new_record? %>
      <%= link_to 'Löschen', rule_set_birthsign_path(@rule_set, @birthsign),
        method: :delete, 
        data: { confirm: "Willst du wirklich das Sternzeichen #{@birthsign.name} löschen?" },
        class: 'btn' %>
    <% end %>
  </div>
<% end %>
