<%= form_for [@rule_set, @property] do |f| %>
  <%= render 'shared/error_messages', model: @property %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'z.B. Feuerresistenz', class: 'form-control' %>

  <%= f.label :abbr %>
  <span class="help">Eindeutiges Kürzel für die Resistenz. Nur Kleinbuchstaben und Unterstrich ([a-z_])</span>
  <%= f.text_field :abbr, placeholder: 'z.B. r_fire', class: 'form-control' %>

  <%= render 'shared/property_form', f: f %>
<% end %>
