<div class="char-weapon-skills">
  <div class="char-weapon-skills-table">
    <div>
      <h4 class="icon-col"></h4>
      <h4>Kampfskill</h4>
      <div class="value-col">
        <h4 class="value-col vertical">Punkte</h4>
      </div>
      <div class="value-col">
        <h4 class="value-col vertical">Offensiv</h4>
      </div>
      <div class="value-col">
        <h4 class="value-col vertical">Defensiv</h4>
      </div>
      <div class="value-col">
        <h4 class="value-col vertical">Attacke</h4>
      </div>
      <div class="value-col">
        <h4 class="value-col vertical">Parade</h4>
      </div>
    </div>
    <div ng-repeat="skill in char.weaponSkills">
      <div>
        <img ng-src="{{ skill.icon }}" alt="{{ skill.name }}" title="{{ skill.name }}" />
      </div>
      <h4 class="inline">{{ skill.name }}</h4>
      <div>{{ skill.battle_points | num }}</div>
      <div data-editable="true" data-model="skill.points_offensive" data-number="true">{{ skill.points_offensive }}</div>
      <div data-editable="true" data-model="skill.points_defensive" data-number="true">{{ skill.points_defensive }}</div>
      <div>{{ skill.attack | num }}</div>
      <div>{{ skill.parry | num }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= character_property 'damage_buff.png', 'Offensivbonus', 'char.offensive_buff', editable: true %>
      <%= character_property 'evasion_buff.png', 'Ausweich-Buff', 'char.evasion_buff', editable: true %>
    </div>
    <div class="col-sm-6">
      <%= character_property 'armor_buff.png', 'Defensivbonus', 'char.defensive_buff', editable: true %>
      <%= character_property 'evasion.png', 'Ausweich-Wert', 'char.evasion' %>
    </div>
  </div>
  <h3>Zeug, das man so gut wie nie braucht</h3>
  <div class="row">
    <div class="col-sm-6">
      <%= character_property 'blood-drop-icon.png', 'Max HP', 'char.max_health', editable: true %>
    </div>
  </div>
</div>