<div class="char-base">
  <div class="flex-row">
    <div class="char-portrait">
      <div class="char-picture" ng-init="imageHover = false" ng-mouseover="imageHover = true" ng-mouseleave="imageHover = false">
        <img id="birthsign-icon" ng-src="{{ char.birthsign.icon }}"
             alt="{{ char.birthsign.name }}" title="{{ char.birthsign.name }}"/>
        <div id="level-indicator">
          <div class="level" title="Level" editable="true" number="true" model="char.level">
            {{ char.level }}
          </div>
          <div class="level-count" title="Levelzähler">
            <span editable="true" number="true" model="char.level_count">{{ char.level_count }}</span>/<%= @character.rule_set.level_count_required %>
          </div>
        </div>
        <label for="character_image" class="char-image-label">
          <% if @character.image.exists? %>
            <%= image_tag @character.image.url, id: 'race-icon' %>
          <% else %>
            <img id="race-icon" ng-src="{{ char.race.icon }}" alt="{{ char.race.name }}" />
          <% end %>
        </label>
        <% if @character.image.exists? %>
          <button type="button" class="btn char-image-delete-btn" ng-show="imageHover">Bild Löschen</button>
        <% end %>
        <%= form_for @character, html: { id: 'char-image-form' } do |f| %>
          <%= f.file_field :image, class: 'hidden char-image-field' %>
          <%= f.hidden_field :delete_image, class: 'char-image-delete-field' %>
          <%= f.submit "Speichern", class: 'hidden' %>
        <% end %>
        <div class="level-up-buttons text-center">
          <button type="button" class="btn btn-primary" id="level-up-btn"
                  ng-if="char.level_count >= 10 && !char.level_up_mode"
                  ng-click="initLevelUp()">
            Level up!
          </button>
          <button type="button" class="btn btn-primary"
                  ng-if="char.level_up_mode && levelUpAttributes.length == 3" ng-click="finishLevelUp()">
            Fertig!
          </button>
          <button type="button" class="btn btn-primary"
                  ng-if="char.level_up_mode" ng-click="abortLevelUp()">
            Abbrechen
          </button>
        </div>
      </div>
      <h2 class="char-name" data-editable="true" data-model="char.name">
        {{ char.name }}
      </h2>
    </div>
    <div class="char-base-options">
    <div ng-show="char.creating">
      <div class="selector-container">
        <ui-select
          ng-model="char.race"
          search-enabled="false"
          on-select="onCharacterUpdate({ race_id: char.race.id })"
        >
          <ui-select-match placeholder="-- Rasse --">
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices repeat="item in <%= @character.rule_set.races.map {|r| { id: r.id, name: r.name }}.to_json %> track by item.id">
            <span ng-bind="item.name"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="selector-container">
        <ui-select
          ng-model="char.birthsign"
          search-enabled="false"
          on-select="onCharacterUpdate({ birthsign_id: char.birthsign.id })"
        >
          <ui-select-match placeholder="-- Sternzeichen --">
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices repeat="item in <%= @character.rule_set.birthsigns.map {|bs| { id: bs.id, name: bs.name }}.to_json %> track by item.id">
            <span ng-bind="item.name"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="selector-container">
        <ui-select
          ng-model="char.specialization"
          search-enabled="false"
          on-select="onCharacterUpdate({ specialization_id: char.specialization.id })"
        >
          <ui-select-match placeholder="-- Spezialisierung --">
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices repeat="item in <%= @character.rule_set.specializations.map {|s| { id: s.id, name: s.name }}.to_json %> track by item.id">
            <span ng-bind="item.name"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="selector-container">
        <ui-select
          ng-model="char.fav_attribute1"
          search-enabled="false"
          on-select="onCharacterUpdate({ fav_attribute1_id: char.fav_attribute1.id })"
        >
          <ui-select-match placeholder="-- Fav. Attribut 1 --">
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices repeat="item in <%= @character.rule_set.attrs.map {|attr| { id: attr.id, name: attr.name }}.to_json %> track by item.id">
            <span ng-bind="item.name"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="selector-container">
        <ui-select
          ng-model="char.fav_attribute2"
          search-enabled="false"
          on-select="onCharacterUpdate({ fav_attribute2_id: char.fav_attribute2.id })"
        >
          <ui-select-match placeholder="-- Fav. Attribut 2 --">
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices repeat="item in <%= @character.rule_set.attrs.map {|attr| { id: attr.id, name: attr.name }}.to_json %> track by item.id">
            <span ng-bind="item.name"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div ng-if="!char.creating">
      <div class="display-container">
        <h3 class="inline" title="Rasse">{{ char.race.name }}</h3>
      </div>
      <div class="display-container">
        <h4 class="inline" title="Sternzeichen">{{ char.birthsign.name }}</h4>
      </div>
      <div class="display-container">
        <h4 class="inline" title="Spezialisierung">{{ char.specialization.name }}</h4>
      </div>
      <div class="display-container">
        <h4 class="inline" title="Favorisiertes Attribut 1">{{ char.fav_attribute1.name }}</h4>
      </div>
      <div class="display-container">
        <h4 class="inline" title="Favorisiertes Attribut 2">{{ char.fav_attribute2.name }}</h4>
      </div>
    </div>
  </div>
  </div>
  <div class="char-status">
    <%= render 'status_bar', attribute: 'health', encumberance: 'encumberance_from_health' %>
    <%= render 'status_bar', attribute: 'stamina', encumberance: 'encumberance_from_stamina' %>
    <%= render 'status_bar', attribute: 'mana', encumberance: false %>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= character_property 'blood-drop-icon.png', 'TP / Level', 'char.hp_per_lvl' %>
      <%= character_property 'wound-icon.png', 'Wunden (Alt)', 'char.wounds', editable: true %>
      <%= character_property 'clumsiness.png', 'Klobigkeit', 'char.clumsiness' %>
      <%= character_property 'evasion_buff.png', 'Ausweich-Buff', 'char.evasion_buff', editable: true %>
      <%= character_property 'wounds_head.png', 'Wunden (Kopf)', 'char.wounds_head', editable: true %>
      <%= character_property 'wounds_torso.png', 'Wunden (Torso)', 'char.wounds_torso', editable: true %>
      <%= character_property 'wounds_leg.png', 'Wunden (Bein)', 'char.wounds_leg', editable: true %>
    </div>
    <div class="col-sm-6">
      <%= character_property 'blood-drop-icon.png', 'Max HP', 'char.max_health', editable: true %>
      <%= character_property 'mana_buff.png', 'Magi. Mult. Buff', 'char.mana_mult_buff', editable: true %>
      <%= character_property 'overburdened.png', 'Behinderungen', 'char.encumberance' %>
      <%= character_property 'evasion.png', 'Ausweich-Wert', 'char.evasion' %>
      <%= character_property 'wounds_arm.png', 'Wunden (Arm)', 'char.wounds_arm', editable: true %>
      <%= character_property 'wounds_belly.png', 'Wunden (Bauch)', 'char.wounds_belly', editable: true %>
    </div>
  </div>
</div>
