<div data-as-sortable-item="true" ng-repeat="item in <%= collection %>"
     class="item-drag-element" ng-show="item.quantity > 0 || !hideEmpty">
  <div data-as-sortable-item-handle="true">
    <div class="item" popover="true"
         popover-title="item.name" popover-content="item.desc"
         popover-condition="item.desc" ng-click="editItem(item, $event)">
      <img ng-src="{{ item.image }}" class="image" ng-if="!!item.image" />
      <%= prop_tag 'weight.png', 'item.total_weight', alt: 'Gewicht' %>
      <h4>
        <span editable="true" model="item.quantity" number="true"
              on-confirm="updateItem(item)"
              ng-click="$event.stopPropagation()">{{ item.quantity }}x</span>
        {{ item.name }}
      </h4>
      <div>
        <%= prop_tag 'value.png', 'item.total_value', alt: 'Wert' %>
        <%= prop_tag 'range.png', 'item.range', alt: 'Reichweite' %>
        <%= prop_tag 'arrow.png', 'item.arrow_dmg', alt: 'Pfeilschaden' %>
        <%= prop_tag 'speed.png', 'item.speed', alt: 'Geschwindigkeit' %>
        <%= prop_tag 'damage.png', 'item.damage', alt: 'Schaden' %>
        <%= prop_tag 'condition.png', 'item.condition', alt: 'Zustand',
                     condition: "(item.type == 'ranged_weapon' || item.type == 'melee_weapon')" %>
        <%= prop_tag 'armor.png', 'item.armor', alt: 'Rüstung' %>
        <span class="ellipsis" ng-if="!!item.desc">{{ item.desc }}</span>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>