<div class="char-status-bar">
  <div class="text <%= attribute %>" editable="true" model="char.<%= attribute %>"
       element="span:first-child" number="true"
       title="{{ char.<%= attribute %> }} ({{<%= "char.#{encumberance}" %> || 0}} Behinderungen)">
    <span ng-class="<%= encumberance ? "{'text-danger': char.#{encumberance} >= 5, 'text-warning': char.#{encumberance} > 0}" : '' %>">
      {{ char.<%= attribute %> }}</span>&nbsp;&nbsp;/&nbsp;&nbsp;<span>{{ char.max_<%= attribute %> }}
    </span>
  </div>
  <div class="bar">
    <div class="<%= attribute %>"
         ng-style="{width: (char.<%= attribute %> / char.max_<%= attribute %>)*100 + '%'}"></div>
  </div>
</div>