<h1>Zaubersprüche</h1>

<% if current_user.has_role?(:gm) %>
  <%= link_to "Neuer Zauberspruch", new_rule_set_spell_path(@rule_set), class: 'btn' %>
<% end %>

<div class="actions">
  <div class="btn-group">
    <%= link_to 'Alle', rule_set_spells_path(@rule_set), class: 'btn' %>
    <% @schools.each do |school| %>
      <%= link_to school.name, rule_set_spell_path(@rule_set, school), class: 'btn' %>
    <% end %>
  </div>
</div>

<div class="spells-display">
  <% @spells.group_by { |s| s.school }.each do |school,spells| %>
    <h3><%= school.name %></h3>
    <div class="spells-table">
      <% spells.each do |spell| %>
        <%= link_if_permitted edit_rule_set_spell_path(@rule_set, spell), :gm, class: 'spell-display' do%>
          <div class="spell-image">
            <% if spell.image.exists? %>
              <img src="<%= spell.image.url(:thumb) %>" />
            <% end %>
          </div>
          <div class="spell-text">
            <h4 title="<%= spell.name %>"><%= spell.name %></h4>
            <p title="<%= spell.desc %>"><%= spell.desc %></p>
          </div>
          <div class="spell-checks">
            <%= image_tag spell.school.check1.icon.url(:thumb), title: spell.school.check1.name %>
            <%= image_tag spell.school.check2.icon.url(:thumb), title: spell.school.check2.name %>
            <%= image_tag spell.school.icon.url(:thumb), title: spell.school.name %>
          </div>
          <div class="spell-props mana">
            <%= prop_tag_server 'mana.png', spell.mana_cost, alt: "Manakosten" %>
          </div>
          <div class="spell-props range">
            <%= prop_tag_server 'range.png', spell.range_as_string, alt: "Reichweite" %>
          </div>
          <div class="spell-props effect">
            <%= prop_tag_server 'magic.png', format_spell_effect(spell), alt: "Effektstärke" %>
          </div>
          <div class="spell-props handicap">
            <%= prop_tag_server 'handicap.png', spell.handicap, alt: "Erschwernis" %>
          </div>
          <div class="spell-props duration">
            <%= prop_tag_server 'duration.png', spell.duration, alt: "Dauer in Runden" %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<% if current_user.has_role?(:gm) %>
  <%= link_to "Neuer Zauberspruch", new_rule_set_spell_path(@rule_set), class: 'btn' %>
<% end %>
