<title><%= full_title(yield(:title)) %></title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<% if current_user && !current_user.theme.blank? %>
  <%= stylesheet_link_tag current_user.theme %>
<% end %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<%= favicon_link_tag 'favicon.png' %>
<%= favicon_link_tag 'favicon-96x96.png', rel: 'apple-touch-icon', type: 'image/png' %>
<%= render 'layouts/shim' %>
